<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<form th:action = @{/addbook} th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${book.id}">
    <td><label>Book Name:</label></td>
    <td><input type="text" th:field="*{name}" required></td>

    <td><label>Book Price:</label></td>
    <td><input type="number" step = "0" th:field="*{price}" required></td>

    <td><label>Students:</label></td>
    <td>
        <select th:field="*{student}">
            <th:block th:each="stud : ${listStudents}">
                <option th:text="${stud.name}" th:value="${stud.id}"/>
            </th:block>
        </select>
    </td>

    <td><input type="submit" value="Submit"></td>
</form>

</body>
</html>