<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Main page</title>
    </head>
    <body>
        <div th:switch="${students}">
            <h2 th:case="null">No Students yet!</h2>
            <div th:case="*">
                <h2>Student List</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Total price of books</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.name}"></td>
                        <td><a th:href="@{/editstudent/{id}(id=${student.id})}">Edit</a></td>
                        <td><a th:href="@{/deletestudent/{id}(id=${student.id})}">Delete</a></td>
                        <td><a th:href="@{/counttotalbook/{id}(id=${student.id})}">Count total books' price</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/createstudent">Add a new student</a></p>
        </div>

        <div th:switch="${books}">
            <h2 th:case="null">No Books yet!</h2>
            <div th:case="*">
                <h2>Books</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Student Owner</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.price}"></td>
                        <td th:text="${book.student.name}"></td>
                        <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
                        <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/createbook">Add a new Book</a></p>
        </div>

    </body>
</html>