<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#"
          th:action="@{/update/{id}(id=${book.id})}"
          th:object="${book}"
          method="post">
        <label>Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <label>Price</label>
        <input type="text" th:field="*{price}" id="price" placeholder="Price">
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        <input type="submit" value="Update Book">
    </form>
</body>
</html>